.env*
node_modules/
output/
coverage/
demo.js
wn.js
*.log
.nyc_output/# Terra
form artifacts
terraform/*.zip
terraform/poeticalbot-lambda/
terraform/.terraform/
terraform/terraform.tfstate*

*.hard-coded.BEWARE.js